body {
  background-color: hsl(212, 45%, 89%);
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.qr {
  background-color: hsl(0, 0%, 100%);
  width: 275px;
  height: 475px;
  border-radius: 5%;
  padding: 20px;
  box-shadow: 1px 1px 40px hsl(220, 15%, 70%);
}

.qrimg {
  width: 275px;
  height: 275px;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}

h1 {
  text-align: center;
  font-family: 'Outfit',sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  padding: 10px;
}

p {
  padding: 5px;
  text-align: center;
  font-family: 'Outfit',sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.attribution p {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
